venv/
.venv/
__pycache__/
*.pyc
venv-redfish/
domain.*

__pycache__/
build/
*.pyc

dist/
*.spec

bin/*
!/bin/server_arm
!/bin/server_x86_64

redfish_server_package.tar.gz
redfish_server_package/

sessions.json

domain.csr
domain.ext
domain.key
domainSAN.crt

docs/build/
docs/_build/

bin/server_arm
bin/server_arm/

*.key
*.pem
*.crt
certs/